.NavigationBar{
  background-color: #fff;
  padding: 0 30px;
  border-radius: 10px;
  height: 88px;
  top: 20px; 
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.NavigationBar .Logo{
  padding: 0 20px 0 20px;
}

.NavigationBar .NavigationMenu ul{
  height: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  align-items: center;
}

.NavigationBar .NavigationMenu li a {
  margin-right: 50px;
  padding: 10px;
}
.NavigationBar .NavigationMenu li a i{
  padding-right: 10px;
}

.NavigationBar .NavigationMenu li a:hover{
  background-color: rgb(17, 17, 17);
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

a.nav-links {
  color: black;
  text-decoration: none;
}